/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  font-size: 1.5vw;
}

body {
  overflow: auto;
  background-color: #002b36;;
  color: #839496;
}

section {
  text-align: center;
}

pre {
  text-align: left;
  margin: 0;
}

pre code {
  white-space: pre-wrap;
}

.left,
.right {
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  left: 0;
  top: 0;
}

.right {
  right: 0;
  top: 0;
  background-color: #fdf6e3;
  color: #657b83;
}

.full {
  left: 25%;
  right: 25%;
}

.left-header,
.right-header {
  position: absolute;
  width: 50%;
  padding: 2rem;
  text-align: center;
  z-index: 100;
}

.left-header {
  left: 0;
}

.right-header {
  right: 0;
}

.left-header img,
.right-header img {
  height: 10vw;
}
